

<div class="container">
    <div class="row">
      <div class="col-md-3 mx-auto my-5">
        <div class="card" style="width: 18rem;" >
          <img src="assets/imagesTest/gengar.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">{{recipe.title}}</h3>
              <h5 class="card-text">Difficulty: {{recipe.difficulty}}</h5>
              
            <a routerLink="/recipe/{{recipe.id}}" class="btn btn-primary">Check Recipe</a>
          </div>
        </div>
      </div>
    </div>
    
  
</div>

